#define LANG_NEUTRAL 0x00
#define SUBLANG_NEUTRAL 0x00

// Source: SystemInformer/resources/capslist.txt + reversing

LANGUAGE LANG_NEUTRAL, SUBLANG_NEUTRAL
CAPABILITIES RCDATA
{
  "accessoryManager\0",
  "activateAsUser\0",
  "activity\0",
  "activityData\0",
  "activitySystem\0",
  "allAppMods\0",
  "allJoyn\0",
  "allowElevation\0",
  "appBroadcast\0",
  "appBroadcastServices\0",
  "appBroadcastSettings\0",
  "appCaptureServices\0",
  "appCaptureSettings\0",
  "appDiagnostics\0",
  "applicationDefaults\0",
  "applicationDefaultsUserChoice\0",
  "applicationViewActivation\0",
  "appLicensing\0",
  "appManagementSystem\0",
  "appointments\0",
  "appointmentsSystem\0",
  "audioDeviceConfiguration\0",
  "automatedAppLaunch\0",
  "backgroundMediaPlayback\0",
  "backgroundMediaRecording\0",
  "backgroundSpatialPerception\0",
  "backgroundVoIP\0",
  "biometricSystem\0",
  "blockedChatMessages\0",
  "bluetooth.genericAttributeProfile\0",
  "bluetooth.rfcomm\0",
  "bluetooth\0",
  "bluetoothAdapter\0",
  "bluetoothDeviceSettings\0",
  "bluetoothSync\0",
  "bootstrapNetworkConnection\0",
  "broadFileSystemAccess\0",
  "browserAppList\0",
  "browserCredentials\0",
  "cameraProcessingExtension\0",
  "capabilityAccessConsentDeviceSettings\0",
  "cellularData\0",
  "cellularDeviceControl\0",
  "cellularDeviceIdentity\0",
  "cellularMessaging\0",
  "chat\0",
  "chatSystem\0",
  "childWebContent\0",
  "chromeInstallFiles\0",
  "cloudExperienceHost\0",
  "cloudStore\0",
  "codeGeneration\0",
  "componentUiInWebContent\0",
  "comPort\0",
  "confirmAppClose\0",
  "constrainedImpersonation\0",
  "contacts\0",
  "contactsSystem\0",
  "contentDeliveryManagerSettings\0",
  "contentRestrictions\0",
  "coreShell\0",
  "cortanaPermissions\0",
  "cortanaSettings\0",
  "cortanaSpeechAccessory\0",
  "cortanaSurface\0",
  "curatedTileCollections\0",
  "customInstallActions\0",
  "dateAndTimeDeviceSettings\0",
  "dependencyTarget\0",
  "developerSettings\0",
  "developmentModeNetwork\0",
  "deviceEncryptionManagement\0",
  "deviceIdentityManagement\0",
  "deviceLockManagement\0",
  "deviceManagementAdministrator\0",
  "deviceManagementDeclaredConfiguration\0",
  "deviceManagementDeviceLockPolicies\0",
  "deviceManagementDmAccount\0",
  "deviceManagementEmailAccount\0",
  "deviceManagementFoundation\0",
  "deviceManagementRegistration\0",
  "deviceManagementWapSecurityPolicies\0",
  "devicePortalProvider\0",
  "deviceProvisioningAdministrator\0",
  "deviceUnlock\0",
  "diagnostics\0",
  "displayDeviceSettings\0",
  "documentsLibrary\0",
  "downloadsFolder\0",
  "dualSimTiles\0",
  "email\0",
  "emailSystem\0",
  "enterpriseAuthentication\0",
  "enterpriseCloudSSO\0",
  "enterpriseDataPolicy\0",
  "enterpriseDeviceLockdown\0",
  "eraApplication\0",
  "exclusiveResource\0",
  "expandedResources\0",
  "extendedBackgroundTaskTime\0",
  "extendedExecutionBackgroundAudio\0",
  "extendedExecutionCritical\0",
  "extendedExecutionUnconstrained\0",
  "featureStagingInfo\0",
  "feedbackLogCollection\0",
  "firstSignInSettings\0",
  "flashPlayerSupport\0",
  "fullFileSystemAccess\0",
  "gameBarServices\0",
  "gameConfigStoreManagement\0",
  "gameList\0",
  "gameMonitor\0",
  "gamingContainerResources\0",
  "gazeInput\0",
  "globalMediaControl\0",
  "graphicsCapture\0",
  "graphicsCaptureProgrammatic\0",
  "graphicsCaptureWithoutBorder\0",
  "hevcPlayback\0",
  "hfxSystem\0",
  "hidTelephony\0",
  "holographicCompositor\0",
  "holographicCompositorSystem\0",
  "humanInterfaceDevice\0",
  "ID_CAP_ACC_MGR_ADMIN\0",
  "ID_CAP_ACCESS_FAMILY_NOTES_API\0",
  "ID_CAP_ACCESS_REMINDER_IMAGES\0",
  "ID_CAP_ACCESSIBILITY_CLIENT\0",
  "ID_CAP_ADAPTIVE_BRIGHTNESS_CONTROL\0",
  "ID_CAP_ADVERTISING_CONFIG\0",
  "ID_CAP_AIS_TOKEN_MANAGER\0",
  "ID_CAP_APP_STORE_PURCHASE_HISTORY\0",
  "ID_CAP_APPCONTAINER_PACKAGE_CERTIFICATES\0",
  "ID_CAP_APPOINTMENTS\0",
  "ID_CAP_APPPREINSTALL_DIRECTORY\0",
  "ID_CAP_APPPREINSTALL_EVENTS\0",
  "ID_CAP_APPRESOLVER\0",
  "ID_CAP_APPX_EXECUTION\0",
  "ID_CAP_AUDIO_CALLINJECTION\0",
  "ID_CAP_AUDIO_CALLRECORDING\0",
  "ID_CAP_AUDIO_EVENTSND\0",
  "ID_CAP_AUDIO_INTERNAL\0",
  "ID_CAP_AUDIO_ROUTING_CONTROLLER\0",
  "ID_CAP_AUDIO_SETTINGS\0",
  "ID_CAP_AUTHHOST\0",
  "ID_CAP_BACKGROUND_EXECUTION_MANAGEMENT\0",
  "ID_CAP_BACKGROUND_SETTINGS_MANAGEMENT\0",
  "ID_CAP_BACKGROUND_WORKER\0",
  "ID_CAP_BACKUPROAMRESTORE\0",
  "ID_CAP_BARCODE_POS\0",
  "ID_CAP_BASEOS_ANTI_THEFT\0",
  "ID_CAP_BASEOS_UPDATEAPI\0",
  "ID_CAP_BINGCLIENT_BINGCONFIGURATION\0",
  "ID_CAP_BINGCLIENT_CA_INTERESTEXTRACTION\0",
  "ID_CAP_BINGCLIENT_DDC\0",
  "ID_CAP_BINGCLIENT_IDENTITY\0",
  "ID_CAP_BINGCLIENT_OSS\0",
  "ID_CAP_BINGCLIENT_SUGGESTSHIGHLIGHTS\0",
  "ID_CAP_BINGCLIENT_TEE\0",
  "ID_CAP_BLUETOOTH\0",
  "ID_CAP_BLUETOOTH_ADMIN\0",
  "ID_CAP_BMR2_MONITOR_SERVICE\0",
  "ID_CAP_BMR_CONFIGURATION\0",
  "ID_CAP_BMR_SYNC\0",
  "ID_CAP_BROKER_NAVIGATION\0",
  "ID_CAP_BROWSER_ACCESSIBILITY_SETTINGS\0",
  "ID_CAP_BROWSER_FEATURE_CONTROL_KEYS\0",
  "ID_CAP_BSS_AIM_INTERFACE\0",
  "ID_CAP_BSS_NABSYNC_INTERFACE\0",
  "ID_CAP_BSS_PUSH_INTERFACE\0",
  "ID_CAP_BSS_REMINDER_INTERFACE\0",
  "ID_CAP_BUILTIN_BASEPRIORITY\0",
  "ID_CAP_BUILTIN_CREATEGLOBAL\0",
  "ID_CAP_BUILTIN_CREATEPERMANENT\0",
  "ID_CAP_BUILTIN_DEFAULT\0",
  "ID_CAP_BUILTIN_IMPERSONATE\0",
  "ID_CAP_BUILTIN_PROFILE\0",
  "ID_CAP_BUILTIN_SETTIME\0",
  "ID_CAP_BUILTIN_SHUTDOWN\0",
  "ID_CAP_BUILTIN_SYMBOLICLINK\0",
  "ID_CAP_BUILTIN_TCB\0",
  "ID_CAP_BUTTONS\0",
  "ID_CAP_CA_ACTIONURI_TEST_EVENT\0",
  "ID_CAP_CA_ADMIN\0",
  "ID_CAP_CA_BACKGROUND_PROCESSOR\0",
  "ID_CAP_CA_BACKGROUND_PROCESSOR_ADMIN\0",
  "ID_CAP_CA_CONTEXT\0",
  "ID_CAP_CA_DND_MANAGER\0",
  "ID_CAP_CA_ENABLED\0",
  "ID_CAP_CA_HISTORY\0",
  "ID_CAP_CA_RULES\0",
  "ID_CAP_CA_SIGNALS_GENERIC\0",
  "ID_CAP_CA_SIGNALS_MANAGER\0",
  "ID_CAP_CA_SIGNALS_MANAGER_ADMIN\0",
  "ID_CAP_CA_UPLOAD_FOLDER\0",
  "ID_CAP_CALLMESSAGING_FILTER\0",
  "ID_CAP_CAMERA\0",
  "ID_CAP_CBS_API\0",
  "ID_CAP_CDP_POLICY\0",
  "ID_CAP_CELL_API_ADMIN\0",
  "ID_CAP_CELL_API_COMMON\0",
  "ID_CAP_CELL_API_LOCATION\0",
  "ID_CAP_CELL_API_MESSAGING\0",
  "ID_CAP_CELL_API_MODEMLOGGING\0",
  "ID_CAP_CELL_API_OEM_PASSTHROUGH\0",
  "ID_CAP_CELL_API_TELEPHONY\0",
  "ID_CAP_CELL_API_UICC\0",
  "ID_CAP_CELL_API_UICC_LOWLEVEL\0",
  "ID_CAP_CELL_CELLMGR\0",
  "ID_CAP_CELL_CMCSPWWAN_PLUS\0",
  "ID_CAP_CELL_MSFT_UICC_DATASTORE\0",
  "ID_CAP_CELL_OEM_UICC_DATASTORE\0",
  "ID_CAP_CELL_RCSPRESENCE\0",
  "ID_CAP_CELL_VIDEOTELEPHONY\0",
  "ID_CAP_CELL_WNF\0",
  "ID_CAP_CELL_WNF_ADMIN\0",
  "ID_CAP_CELL_WNF_PII\0",
  "ID_CAP_CELLUX_CONFIG_READ\0",
  "ID_CAP_CHAMBER_PROFILE_CODE_INSTALLTEMP_RWD\0",
  "ID_CAP_CHAMBER_PROFILE_CODE_NITEMP_RW\0",
  "ID_CAP_CHAMBER_PROFILE_CODE_R\0",
  "ID_CAP_CHAMBER_PROFILE_CODE_RW\0",
  "ID_CAP_CHAMBER_PROFILE_DATA_LIVETILES_RWD\0",
  "ID_CAP_CHAMBER_PROFILE_DATA_MEDIA_RWD\0",
  "ID_CAP_CHAMBER_PROFILE_DATA_PLATFORMDATA_ALL\0",
  "ID_CAP_CHAMBER_PROFILE_DATA_R\0",
  "ID_CAP_CHAMBER_PROFILE_DATA_RW\0",
  "ID_CAP_CHAMBER_PROFILE_DATA_SHELLCONTENT_R\0",
  "ID_CAP_CHAMBER_PROFILE_DATA_SHELLCONTENT_RWD\0",
  "ID_CAP_CLIPBOARD\0",
  "ID_CAP_COMMANDCHANNEL\0",
  "ID_CAP_COMMS_APPLICATIONS\0",
  "ID_CAP_COMMS_COMMON\0",
  "ID_CAP_COMMS_SERVICES\0",
  "ID_CAP_COMMS_SETTINGS\0",
  "ID_CAP_CONTACTS\0",
  "ID_CAP_CONTENTSHARING\0",
  "ID_CAP_CORE_SHELL\0",
  "ID_CAP_CORTANA_RULES_DB\0",
  "ID_CAP_CREATE_PROCESS_IN_CHAMBER\0",
  "ID_CAP_CREDENTIAL_COLLECTION_UI\0",
  "ID_CAP_CRITICAL_DATA\0",
  "ID_CAP_CSP_BMR_PROVISION\0",
  "ID_CAP_CSP_DMCLIENT\0",
  "ID_CAP_CSP_FOUNDATION\0",
  "ID_CAP_CSP_LOCATION\0",
  "ID_CAP_CSP_MAIL\0",
  "ID_CAP_CSP_NODECACHE\0",
  "ID_CAP_CSP_OEM\0",
  "ID_CAP_CSP_PHONE\0",
  "ID_CAP_CSP_W4_APPLICATION\0",
  "ID_CAP_CSP_WIFI_HOTSPOT\0",
  "ID_CAP_DATACOLLECTION_ACTIVITY\0",
  "ID_CAP_DATACOLLECTION_COLLECTOR\0",
  "ID_CAP_DATACOLLECTION_RAWETW\0",
  "ID_CAP_DATAPLANUSAGE\0",
  "ID_CAP_DATAPLANUSAGE_ADMIN\0",
  "ID_CAP_DCP\0",
  "ID_CAP_DEBUG\0",
  "ID_CAP_DEBUG_FOLDERS\0",
  "ID_CAP_DEBUG_NAVIGATION\0",
  "ID_CAP_DEVELOPERUNLOCK\0",
  "ID_CAP_DEVELOPERUNLOCK_API\0",
  "ID_CAP_DEVELOPERUNLOCK_CODEDUI\0",
  "ID_CAP_DEVICE_LOCK\0",
  "ID_CAP_DEVICE_LOCK_ADMIN\0",
  "ID_CAP_DEVICE_MANAGEMENT\0",
  "ID_CAP_DEVICE_MANAGEMENT_ADMIN\0",
  "ID_CAP_DEVICE_MANAGEMENT_BOOTSTRAP\0",
  "ID_CAP_DEVICE_MANAGEMENT_SECURITY_POLICIES\0",
  "ID_CAP_DIAGNOSTIC_CLIENT\0",
  "ID_CAP_DISPLAY_CONTROL\0",
  "ID_CAP_DMCLIENT_APPMGMT\0",
  "ID_CAP_DO_NOT_DISTURB\0",
  "ID_CAP_DRIVE_MODE_ADMIN\0",
  "ID_CAP_DU_AGENT\0",
  "ID_CAP_DU_CORE_API\0",
  "ID_CAP_DU_CSP\0",
  "ID_CAP_DU_MIGRATION_MANAGER_STATUS\0",
  "ID_CAP_DU_MIGRATION_WNF_EVENTS\0",
  "ID_CAP_DU_MIGRATOR_PROVISIONING_STATUS_MICROSOFT\0",
  "ID_CAP_DU_MIGRATOR_PROVISIONING_STATUS_OEM\0",
  "ID_CAP_DU_MIGRATOR_STATUS_MICROSOFT\0",
  "ID_CAP_DU_MIGRATOR_STATUS_OEM\0",
  "ID_CAP_DU_PROVISIONING\0",
  "ID_CAP_DU_SHARED_DATA\0",
  "ID_CAP_DU_USS\0",
  "ID_CAP_DU_UX\0",
  "ID_CAP_DU_UX_FEATURE_DISCOVERY\0",
  "ID_CAP_DUASVC\0",
  "ID_CAP_EAS_CREDENTIALS\0",
  "ID_CAP_EDM_CACHE_RWDELETE\0",
  "ID_CAP_EDM_CACHE_WRITE\0",
  "ID_CAP_ENDPOINTDISCOVERY\0",
  "ID_CAP_ENROLLMENT\0",
  "ID_CAP_ENROLLMENT_ADMIN\0",
  "ID_CAP_ENROLLMENT_POLL\0",
  "ID_CAP_ENROLLMENT_RENEW\0",
  "ID_CAP_ENTERPRISE_AUTHENTICATION\0",
  "ID_CAP_ENTERPRISE_ENROLLMENT\0",
  "ID_CAP_ENTERPRISE_SERVICE\0",
  "ID_CAP_ENTERPRISE_SHARED_DATA\0",
  "ID_CAP_ENTERPRISERESOURCESTORE\0",
  "ID_CAP_ETW_PROFILER\0",
  "ID_CAP_EVERYONE\0",
  "ID_CAP_EVERYONE_INROM\0",
  "ID_CAP_EXTERNAL_DISPLAY\0",
  "ID_CAP_FAILURE_REPORT_CONTENT_PROVIDER\0",
  "ID_CAP_FINDMYPHONE\0",
  "ID_CAP_FOREGROUND_TASK_MANAGER\0",
  "ID_CAP_GAMERSERVICES\0",
  "ID_CAP_GLOBALIZATION_SETTINGS\0",
  "ID_CAP_HTTP_ACCEPT_LANGUAGE_HEADER\0",
  "ID_CAP_ICS_RO\0",
  "ID_CAP_ICS_RW\0",
  "ID_CAP_IDENTITY_DEVICE\0",
  "ID_CAP_IDENTITY_DEVICE_1ST_PARTY\0",
  "ID_CAP_IDENTITY_USER\0",
  "ID_CAP_IDENTITY_USER_1ST_PARTY\0",
  "ID_CAP_IDM_IMAGE_CACHE\0",
  "ID_CAP_IMMERSIVE_SHELL\0",
  "ID_CAP_INPUT_CORE\0",
  "ID_CAP_INPUT_FEATURES\0",
  "ID_CAP_INPUT_INJECTION\0",
  "ID_CAP_INPUT_LOCALES\0",
  "ID_CAP_INPUT_SERVICE\0",
  "ID_CAP_INSTALL_CERTIFICATES\0",
  "ID_CAP_INTENTTEXTRACTION_OPTIN\0",
  "ID_CAP_INTERNAL_DEPLOYMENT\0",
  "ID_CAP_INTERNET_EXPLORER_BROWSER_HISTORY\0",
  "ID_CAP_INTERNET_EXPLORER_DATA_OPTIMIZATION\0",
  "ID_CAP_INTERNET_EXPLORER_FAVORITES\0",
  "ID_CAP_INTERNET_EXPLORER_HKCU_WRITE\0",
  "ID_CAP_INTERNET_EXPLORER_HKLM_SECURITY_SETTINGS\0",
  "ID_CAP_INTERNET_EXPLORER_INTRANET_ZONE_SETTINGS\0",
  "ID_CAP_INTERNET_EXPLORER_REMOTEDEBUGGING\0",
  "ID_CAP_INTERNET_EXPLORER_ROAMING\0",
  "ID_CAP_INTERNET_EXPLORER_SEARCH_PROVIDER_KEYS_HKCU\0",
  "ID_CAP_INTEROPSERVICES\0",
  "ID_CAP_ISV_CAMERA\0",
  "ID_CAP_KEYBOARD\0",
  "ID_CAP_KIDZONE_ADMIN\0",
  "ID_CAP_KIDZONE_CUSTOMIZATION\0",
  "ID_CAP_LANGUAGEUNDERSTANDING\0",
  "ID_CAP_LASS_ADMIN\0",
  "ID_CAP_LASS_REMOTELOCK\0",
  "ID_CAP_LEGACY_VOICEMAIL_HANDLER\0",
  "ID_CAP_LEXICONUPDATE\0",
  "ID_CAP_LIVEID\0",
  "ID_CAP_LIVETOKEN_WNF_EVENTS\0",
  "ID_CAP_LOCATION\0",
  "ID_CAP_LOCATION_ADMIN\0",
  "ID_CAP_LOCATION_BTPOLICY\0",
  "ID_CAP_LOCATION_GNSSDRIVER\0",
  "ID_CAP_MAP\0",
  "ID_CAP_MAP_ADMIN\0",
  "ID_CAP_MAP_WRITE\0",
  "ID_CAP_MEDIALIB\0",
  "ID_CAP_MEDIALIB_AUDIO\0",
  "ID_CAP_MEDIALIB_INT\0",
  "ID_CAP_MEDIALIB_PHOTO\0",
  "ID_CAP_MEDIALIB_PHOTO_FULL\0",
  "ID_CAP_MEDIALIB_PLAYBACK\0",
  "ID_CAP_MEDIALIB_VIDEO\0",
  "ID_CAP_MEDIASERVICE_VOLUMELIMIT_INT\0",
  "ID_CAP_MICMUTEPOLICY_BYPASS\0",
  "ID_CAP_MICROPHONE\0",
  "ID_CAP_MO_CLOUDMESSAGING\0",
  "ID_CAP_MONITOR_NAVIGATION\0",
  "ID_CAP_MOUSE\0",
  "ID_CAP_MSS_BYTESTREAM_RPC\0",
  "ID_CAP_MULTIMEDIA_ENCODER_HARDWARE\0",
  "ID_CAP_MULTIVARIANT\0",
  "ID_CAP_MULTIVARIANT_INSTALL_DATA\0",
  "ID_CAP_NARRATOR_SETTINGS\0",
  "ID_CAP_NATIVE_NETWORK_REPLACEMENT\0",
  "ID_CAP_NAVIGATIONBAR_ADMIN\0",
  "ID_CAP_NETWORKING\0",
  "ID_CAP_NETWORKING_ADMIN\0",
  "ID_CAP_NETWORKING_INTERNET_CLIENT\0",
  "ID_CAP_NETWORKING_INTERNET_CLIENT_SERVER\0",
  "ID_CAP_NETWORKING_PRIVATE_NETWORK_CLIENT_SERVER\0",
  "ID_CAP_NETWORKING_VPN_ADMIN\0",
  "ID_CAP_NETWORKING_VPN_PROVIDER\0",
  "ID_CAP_NETWORKING_VPN_SERVICES\0",
  "ID_CAP_NFC_ADMIN\0",
  "ID_CAP_NOCENTER_SOUNDS\0",
  "ID_CAP_NTSERVICES\0",
  "ID_CAP_NVREAD\0",
  "ID_CAP_NVREADWRITE\0",
  "ID_CAP_O365_DISCOVERY\0",
  "ID_CAP_OEM_ADC\0",
  "ID_CAP_OEM_CUSTOM\0",
  "ID_CAP_OEM_DEPLOYMENT\0",
  "ID_CAP_OEMPUBLICDIRECTORY\0",
  "ID_CAP_OFFICE_LAUNCH_URL\0",
  "ID_CAP_OFFICE_MSDRM_HKCU\0",
  "ID_CAP_ONENOTE_EVENTS\0",
  "ID_CAP_OOBE_PRIVATE\0",
  "ID_CAP_ORIENTATION_LOCK\0",
  "ID_CAP_PEOPLE_EXTENSION\0",
  "ID_CAP_PEOPLE_EXTENSION_IM\0",
  "ID_CAP_PEOPLE_EXTENSION_MOBILE\0",
  "ID_CAP_PERSONA\0",
  "ID_CAP_PERSONAL_INFORMATION_IMPORT\0",
  "ID_CAP_PHONE_2ND_PARTY\0",
  "ID_CAP_PHONE_ADMIN\0",
  "ID_CAP_PHONE_INTERNAL\0",
  "ID_CAP_PHONEBROKER_INTERFACE\0",
  "ID_CAP_PHONEDIALER\0",
  "ID_CAP_PHONEPROVISIONER_DEVICEUPDATE\0",
  "ID_CAP_PHONEPROVISIONER_EVENTS\0",
  "ID_CAP_PHOTOS_SETTINGS_R\0",
  "ID_CAP_PHOTOS_SETTINGS_RW\0",
  "ID_CAP_PICKER_CONTRACT_UI\0",
  "ID_CAP_PLATFORM_EXTENSIBILITY\0",
  "ID_CAP_PLAYREADY\0",
  "ID_CAP_PLAYREADY_ADMIN\0",
  "ID_CAP_PM_1ST_PARTY\0",
  "ID_CAP_PM_BSS\0",
  "ID_CAP_PM_INSTALL\0",
  "ID_CAP_POIDATASTORE\0",
  "ID_CAP_POIDATASTORE_ADMIN\0",
  "ID_CAP_POLICY_MANAGER\0",
  "ID_CAP_POLICY_MANAGER_READONLY\0",
  "ID_CAP_POWERNOTIF_USER\0",
  "ID_CAP_PRESERVED_DATA\0",
  "ID_CAP_PRIV_ABOUTCPL\0",
  "ID_CAP_PRIV_ACCESSIBILITYCPL\0",
  "ID_CAP_PRIV_ACCESSORIESCPL\0",
  "ID_CAP_PRIV_ACCESSORYMGRSVC\0",
  "ID_CAP_PRIV_ACCOUNTPROVSVC\0",
  "ID_CAP_PRIV_ACTIONURIHOST\0",
  "ID_CAP_PRIV_ADVERTISINGIDCPL\0",
  "ID_CAP_PRIV_ALARMS\0",
  "ID_CAP_PRIV_APHCHECK\0",
  "ID_CAP_PRIV_APMUX\0",
  "ID_CAP_PRIV_APPCORNER\0",
  "ID_CAP_PRIV_APPPREINSTALLER\0",
  "ID_CAP_PRIV_APPRESOLVERUI\0",
  "ID_CAP_PRIV_APPSDATAMIGRATOR\0",
  "ID_CAP_PRIV_APPXEXECUTIONSVC\0",
  "ID_CAP_PRIV_AUTHHOST_MSA\0",
  "ID_CAP_PRIV_AUTHHOST_WAB_A\0",
  "ID_CAP_PRIV_AUTHHOST_WAB_B\0",
  "ID_CAP_PRIV_AUTHHOST_WAB_C\0",
  "ID_CAP_PRIV_AUTHHOST_WAB_ENTERPRISE\0",
  "ID_CAP_PRIV_AUTHHOST_WAB_SSO\0",
  "ID_CAP_PRIV_AUTHHOST_WAB_SSO_ENTERPRISE\0",
  "ID_CAP_PRIV_AUTOTIMEUPDATE\0",
  "ID_CAP_PRIV_BATTERYSAVERCPL\0",
  "ID_CAP_PRIV_BLUETOOTHPBAPSVC\0",
  "ID_CAP_PRIV_BMR2MONITORSVC\0",
  "ID_CAP_PRIV_BMR2SCHEDULETRIGGER\0",
  "ID_CAP_PRIV_BMRCPL\0",
  "ID_CAP_PRIV_BMRSCHEDULETRIGGER\0",
  "ID_CAP_PRIV_BRIGHTNESSCPL\0",
  "ID_CAP_PRIV_BSSVC\0",
  "ID_CAP_PRIV_BTAGSERVICE\0",
  "ID_CAP_PRIV_BTCONNMGR\0",
  "ID_CAP_PRIV_BTHAVCTPSVC\0",
  "ID_CAP_PRIV_BTSERV\0",
  "ID_CAP_PRIV_BTUXCPL\0",
  "ID_CAP_PRIV_CALC7\0",
  "ID_CAP_PRIV_CAPTURESVC\0",
  "ID_CAP_PRIV_CASVCSHARED3\0",
  "ID_CAP_PRIV_CELLMANAGER\0",
  "ID_CAP_PRIV_CELLULARDATACOLLECTOR\0",
  "ID_CAP_PRIV_CELLUX\0",
  "ID_CAP_PRIV_CERTINSTALLER\0",
  "ID_CAP_PRIV_CFMSVC\0",
  "ID_CAP_PRIV_CGSVC\0",
  "ID_CAP_PRIV_CLOUDSTORAGECPL\0",
  "ID_CAP_PRIV_CMSERVICE\0",
  "ID_CAP_PRIV_COMMANDCHANNEL\0",
  "ID_CAP_PRIV_COMMSAPHOST\0",
  "ID_CAP_PRIV_COMMSAPPLICATIONS\0",
  "ID_CAP_PRIV_COMMSCERTINSTSVC\0",
  "ID_CAP_PRIV_COMMSMESSAGESVC\0",
  "ID_CAP_PRIV_COMMSMMSTRANSPORT\0",
  "ID_CAP_PRIV_CONTACTSTOKENSVC\0",
  "ID_CAP_PRIV_CONTENTSHARESVC\0",
  "ID_CAP_PRIV_CONTENTSHARINGAPP\0",
  "ID_CAP_PRIV_COREUIREGISTRAR\0",
  "ID_CAP_PRIV_DACCERTINSTSVC\0",
  "ID_CAP_PRIV_DATACOLLECTION\0",
  "ID_CAP_PRIV_DATASENSESVC\0",
  "ID_CAP_PRIV_DATASMART\0",
  "ID_CAP_PRIV_DATETIMECPL\0",
  "ID_CAP_PRIV_DCPSVC\0",
  "ID_CAP_PRIV_DEBUGGERMUXNOTIFY\0",
  "ID_CAP_PRIV_DIAGNOSTICSVC\0",
  "ID_CAP_PRIV_DMCFGHOST\0",
  "ID_CAP_PRIV_DMOMACPNETWMO\0",
  "ID_CAP_PRIV_DMOMACPUSERMO\0",
  "ID_CAP_PRIV_DMWAPPUSHSVC\0",
  "ID_CAP_PRIV_DRIVINGMODEMANAGER\0",
  "ID_CAP_PRIV_DRIVINGMODESETTINGS\0",
  "ID_CAP_PRIV_DSSVC\0",
  "ID_CAP_PRIV_DSTOKENCLEAN\0",
  "ID_CAP_PRIV_DUACALLBACK\0",
  "ID_CAP_PRIV_DUACLIENT\0",
  "ID_CAP_PRIV_DUCLEANUPMIGRATOR\0",
  "ID_CAP_PRIV_DUFEATUREDISCOVERY\0",
  "ID_CAP_PRIV_DUMIGRATIONMANAGER\0",
  "ID_CAP_PRIV_DUMIGRATIONPROVISIONERMICROSOFT\0",
  "ID_CAP_PRIV_DUMIGRATIONPROVISIONEROEM\0",
  "ID_CAP_PRIV_DUPOSTUPDATEUX\0",
  "ID_CAP_PRIV_DUSTARTINGMIGRATOR\0",
  "ID_CAP_PRIV_DUSVC\0",
  "ID_CAP_PRIV_ENROLLMENTCLIENT\0",
  "ID_CAP_PRIV_ENTAPPSERVICE\0",
  "ID_CAP_PRIV_ENTERPRISEINSTALL\0",
  "ID_CAP_PRIV_ENTERPRISEMGMSVC\0",
  "ID_CAP_PRIV_ENTERPRISERING\0",
  "ID_CAP_PRIV_ENTERPRISEVALIDATION\0",
  "ID_CAP_PRIV_EXECMANSERVICE\0",
  "ID_CAP_PRIV_FINDMYPHONE\0",
  "ID_CAP_PRIV_FLYOUTDATAMIGRATOR\0",
  "ID_CAP_PRIV_GROVELER\0",
  "ID_CAP_PRIV_GWPCENROLLSVC\0",
  "ID_CAP_PRIV_HFA\0",
  "ID_CAP_PRIV_HOTSPOTHOST\0",
  "ID_CAP_PRIV_HUBTILERESTOREHOST\0",
  "ID_CAP_PRIV_ICSENTITLEMENTHOST\0",
  "ID_CAP_PRIV_ICSSVC\0",
  "ID_CAP_PRIV_INPUTSERVICE\0",
  "ID_CAP_PRIV_INSTALLERWORKER\0",
  "ID_CAP_PRIV_INTERNETEXPLORER\0",
  "ID_CAP_PRIV_IPOVERUSB\0",
  "ID_CAP_PRIV_KEYBOARDCPL\0",
  "ID_CAP_PRIV_KIDZONECONFIGURATION\0",
  "ID_CAP_PRIV_KIDZONECUSTOMIZATION\0",
  "ID_CAP_PRIV_LASSCREDENTIALEXPIRATIONCHECK\0",
  "ID_CAP_PRIV_LAUNCHAPPSVC\0",
  "ID_CAP_PRIV_LEXICONUPDATE\0",
  "ID_CAP_PRIV_LFSVC\0",
  "ID_CAP_PRIV_LIVETOKEN\0",
  "ID_CAP_PRIV_LOCATIONUXCPL\0",
  "ID_CAP_PRIV_LOCKANDWALLPAPER\0",
  "ID_CAP_PRIV_MEDIA\0",
  "ID_CAP_PRIV_MEDIASERVICE\0",
  "ID_CAP_PRIV_MIRRORCPL\0",
  "ID_CAP_PRIV_MOBILEUI\0",
  "ID_CAP_PRIV_MOSHOST\0",
  "ID_CAP_PRIV_MSATICKETSVC\0",
  "ID_CAP_PRIV_MSGIMTRANSPORT\0",
  "ID_CAP_PRIV_MSGSMSTRANSPORT\0",
  "ID_CAP_PRIV_MTP\0",
  "ID_CAP_PRIV_MVPROVISIONHOST\0",
  "ID_CAP_PRIV_MVUX\0",
  "ID_CAP_PRIV_NABSYNC\0",
  "ID_CAP_PRIV_NOCENTERSETTINGSCPL\0",
  "ID_CAP_PRIV_NOTIFICATIONPLATFORMMIGRATOR\0",
  "ID_CAP_PRIV_NOTIFSVC\0",
  "ID_CAP_PRIV_OFFICE\0",
  "ID_CAP_PRIV_OMADMCLIENT_ENTERPRISE\0",
  "ID_CAP_PRIV_OMADMCLIENT_MOBILE_OPERATOR\0",
  "ID_CAP_PRIV_OMADMPRC\0",
  "ID_CAP_PRIV_OOBE\0",
  "ID_CAP_PRIV_ORIENTSRV\0",
  "ID_CAP_PRIV_PACMANSERVICE\0",
  "ID_CAP_PRIV_PHONEAUDIOSRV\0",
  "ID_CAP_PRIV_PHONEPROVISIONER\0",
  "ID_CAP_PRIV_PHONEPROVISIONER_OEM\0",
  "ID_CAP_PRIV_PHONESVCSG\0",
  "ID_CAP_PRIV_PHOTOS\0",
  "ID_CAP_PRIV_PHOTOSSVC\0",
  "ID_CAP_PRIV_PIMIDXMAINT\0",
  "ID_CAP_PRIV_PLACESSVC\0",
  "ID_CAP_PRIV_POSTDUAPPMIGRATOR\0",
  "ID_CAP_PRIV_POWERNOTIF\0",
  "ID_CAP_PRIV_PROXIMITYSVC\0",
  "ID_CAP_PRIV_PROXYSVC\0",
  "ID_CAP_PRIV_REALWORLD-BINGCLIENT\0",
  "ID_CAP_PRIV_REALWORLD-INTERESTEXTRACTION\0",
  "ID_CAP_PRIV_REBOOTDEVICE\0",
  "ID_CAP_PRIV_REGIONCPL\0",
  "ID_CAP_PRIV_REMEMBER\0",
  "ID_CAP_PRIV_RETAILDEMO\0",
  "ID_CAP_PRIV_RETAILDEMOERROR\0",
  "ID_CAP_PRIV_RETAILDEMOGLOB\0",
  "ID_CAP_PRIV_RETAILDEMOUI\0",
  "ID_CAP_PRIV_RILADAPTATION\0",
  "ID_CAP_PRIV_RINGTONESANDSOUNDS\0",
  "ID_CAP_PRIV_ROAMINGCPL\0",
  "ID_CAP_PRIV_ROTATIONLOCKCPL\0",
  "ID_CAP_PRIV_SAPISVR\0",
  "ID_CAP_PRIV_SECMIGRATOR\0",
  "ID_CAP_PRIV_SEMGRSVC\0",
  "ID_CAP_PRIV_SETTINGS\0",
  "ID_CAP_PRIV_SHELLDATAMIGRATOR\0",
  "ID_CAP_PRIV_SIREPSVC\0",
  "ID_CAP_PRIV_SOFTAPUX\0",
  "ID_CAP_PRIV_SPEECHCPL\0",
  "ID_CAP_PRIV_SPEECHUPDATE\0",
  "ID_CAP_PRIV_START\0",
  "ID_CAP_PRIV_STORAGESENSE\0",
  "ID_CAP_PRIV_STORAGESVC\0",
  "ID_CAP_PRIV_STOREDATAMIGRATOR\0",
  "ID_CAP_PRIV_TASKSCHEDULERSVC\0",
  "ID_CAP_PRIV_TELCPL\0",
  "ID_CAP_PRIV_TELREPSVC\0",
  "ID_CAP_PRIV_THEMECPL\0",
  "ID_CAP_PRIV_TILEMIGRATOR\0",
  "ID_CAP_PRIV_TIMEBROKER\0",
  "ID_CAP_PRIV_UPDATEMGRSVC\0",
  "ID_CAP_PRIV_USBCPL\0",
  "ID_CAP_PRIV_USERDATASERVICE\0",
  "ID_CAP_PRIV_USSREPORTING\0",
  "ID_CAP_PRIV_UTKSERVICE\0",
  "ID_CAP_PRIV_UTKUX\0",
  "ID_CAP_PRIV_VPNUX\0",
  "ID_CAP_PRIV_WALLET\0",
  "ID_CAP_PRIV_WALLETSVC\0",
  "ID_CAP_PRIV_WEHCSPHELPER\0",
  "ID_CAP_PRIV_WEHSTART\0",
  "ID_CAP_PRIV_WIFICONNSVC\0",
  "ID_CAP_PRIV_WIFICPASSIST\0",
  "ID_CAP_PRIV_WIFICPBROWSERUX\0",
  "ID_CAP_PRIV_WIFIUDPTEST\0",
  "ID_CAP_PRIV_WIFIUXBLUE\0",
  "ID_CAP_PRIV_WLID2MSA\0",
  "ID_CAP_PRIV_WPABSVC\0",
  "ID_CAP_PRIV_WPNARRATOR\0",
  "ID_CAP_PRIV_WPNCERTINSTSVC\0",
  "ID_CAP_PRIV_WPTOOLS\0",
  "ID_CAP_PRIV_WPTPMVSCMGRSVC\0",
  "ID_CAP_PRIV_WPUITESTTOOLS\0",
  "ID_CAP_PRIV_ZMEDIAQUEUESVC\0",
  "ID_CAP_PRIV_ZMF\0",
  "ID_CAP_PRIV_ZMF_SERVICE\0",
  "ID_CAP_PROVISIONING_PACKAGE_API_ADMIN\0",
  "ID_CAP_PROVISIONWPCERTIFICATE\0",
  "ID_CAP_PROXIMITY\0",
  "ID_CAP_PUBLIC_FOLDER_FULL\0",
  "ID_CAP_PUBLISH_ALARM_STATE\0",
  "ID_CAP_PUBLISH_OOBE_STATE\0",
  "ID_CAP_PUSH_NOTIFICATION\0",
  "ID_CAP_PUSH_SERVER\0",
  "ID_CAP_PUSHROUTER\0",
  "ID_CAP_QUICK_SETTINGS\0",
  "ID_CAP_READGWPCERTIFICATE\0",
  "ID_CAP_REBOOT_FLASHING_MODE\0",
  "ID_CAP_REMEMBER_ADMIN\0",
  "ID_CAP_REMEMBER_API\0",
  "ID_CAP_REMOVABLE_STORAGE\0",
  "ID_CAP_RESET_PHONE\0",
  "ID_CAP_RESOURCE_MANAGER\0",
  "ID_CAP_RETAILDEMO_BACKGROUNDIMAGE\0",
  "ID_CAP_RETAILDEMO_CLIENT\0",
  "ID_CAP_RETAILDEMO_GLOB_REGISTRY\0",
  "ID_CAP_RETAILDEMO_OFFLINECONTENT\0",
  "ID_CAP_RINGTONE_ADD\0",
  "ID_CAP_ROAMING_CONFIGURATION\0",
  "ID_CAP_ROTATION_MANAGER\0",
  "ID_CAP_RUNTIME_CONFIG\0",
  "ID_CAP_SCREEN_RECORDER\0",
  "ID_CAP_SCREEN_RECORDER_BKG\0",
  "ID_CAP_SCREENCAPTURE\0",
  "ID_CAP_SEARCHMAPS_SHAREDCONFIG\0",
  "ID_CAP_SEND_TO_ONENOTE\0",
  "ID_CAP_SENSORS\0",
  "ID_CAP_SETDEVICENAME\0",
  "ID_CAP_SETTINGS_MANAGEMENT_PROVIDER\0",
  "ID_CAP_SETTINGSYNC\0",
  "ID_CAP_SETTINGSYNC_CONFIGURATION\0",
  "ID_CAP_SHARE_DELEGATE\0",
  "ID_CAP_SHARED_OBJECT_DIRECTORY\0",
  "ID_CAP_SHARED_USER_CERTIFICATES\0",
  "ID_CAP_SHELL_DEVICE_LOCK_UI_API\0",
  "ID_CAP_SHELL_EXPERIENCE_COMPOSER\0",
  "ID_CAP_SHELL_LAUNCH_SESSION\0",
  "ID_CAP_SHELL_NAVIGATION\0",
  "ID_CAP_SHELL_NOTIFICATION_CLIENT\0",
  "ID_CAP_SHELL_NOTIFICATION_SETTINGS_DB\0",
  "ID_CAP_SHELL_OEM_ADMIN\0",
  "ID_CAP_SHELL_RESET_NAVIGATION\0",
  "ID_CAP_SHELL_TEST_CLIENT\0",
  "ID_CAP_SHOW_VOLUME_CONTROL\0",
  "ID_CAP_SMS\0",
  "ID_CAP_SMS_COMPANION\0",
  "ID_CAP_SMS_INTERCEPT_AGENT\0",
  "ID_CAP_SMS_INTERCEPT_RECIPIENT\0",
  "ID_CAP_SOUND_CONTROL\0",
  "ID_CAP_SPEECH_GRAMMARS\0",
  "ID_CAP_SPEECH_RECOGNITION\0",
  "ID_CAP_SPEECH_RECOGNITION_SYSTEM\0",
  "ID_CAP_SPEECH_SETTINGS\0",
  "ID_CAP_SPEECH_UPDATE\0",
  "ID_CAP_SPLASH_CONFIG\0",
  "ID_CAP_STARTMENU_CONFIG\0",
  "ID_CAP_STARTMENU_WEBLINK_ICONS\0",
  "ID_CAP_STORAGE_MANAGEMENT\0",
  "ID_CAP_SUPPRESS_MSA_CONNECT_ARD\0",
  "ID_CAP_SYNC_EXTENSION\0",
  "ID_CAP_SYSTEM_ALLOC_WINDOWID\0",
  "ID_CAP_SYSTEM_COMPOSITOR\0",
  "ID_CAP_SYSTEM_COUNTERS\0",
  "ID_CAP_SYSTEM_REGISTRAR\0",
  "ID_CAP_SYSTEM_WAITCURSOR\0",
  "ID_CAP_SYSTEMTRAY_ADMIN\0",
  "ID_CAP_TELEMETRY_ADMIN\0",
  "ID_CAP_TELEMETRY_CONFIGURE\0",
  "ID_CAP_TELEMETRY_STUDY\0",
  "ID_CAP_TEST_NAVIGATION\0",
  "ID_CAP_TILERESTOREDATA\0",
  "ID_CAP_TOUCH\0",
  "ID_CAP_TOUCH_TEST\0",
  "ID_CAP_TPM_VSCMANAGER\0",
  "ID_CAP_TS_SCHEDULES_ALL\0",
  "ID_CAP_USB\0",
  "ID_CAP_USER_ACTIVITY\0",
  "ID_CAP_USER_DATA_ACCOUNT_SETUP\0",
  "ID_CAP_VIDEOSINK_INTERNAL\0",
  "ID_CAP_VOICEMAIL\0",
  "ID_CAP_VOIP\0",
  "ID_CAP_VOIP_CALL_CONTROLLER\0",
  "ID_CAP_VSTEST_INSTALL_FOLDER\0",
  "ID_CAP_W32TIME_API\0",
  "ID_CAP_WAB_RESOURCES\0",
  "ID_CAP_WALLET\0",
  "ID_CAP_WALLET_ADMIN\0",
  "ID_CAP_WALLET_DEALS\0",
  "ID_CAP_WALLET_PAYMENTINSTRUMENTS\0",
  "ID_CAP_WALLET_SECUREELEMENT\0",
  "ID_CAP_WALLPAPER_ADMIN\0",
  "ID_CAP_WBOEXT\0",
  "ID_CAP_WEB_CREDENTIALS\0",
  "ID_CAP_WEBBROWSERCOMPONENT\0",
  "ID_CAP_WIFI_ADMIN\0",
  "ID_CAP_WIFI_BASIC\0",
  "ID_CAP_WIFI_BROWSER\0",
  "ID_CAP_WIFI_HOTSPOT_HOST\0",
  "ID_CAP_WIFI_PROFILE_ADMIN\0",
  "ID_CAP_WIFI_TILE_MANAGER\0",
  "ID_CAP_WINDOW_MANAGEMENT_SYSTEM\0",
  "ID_CAP_WPN_PLATFORM\0",
  "ID_CAP_WPN_PLATFORM_REG_KEY\0",
  "ID_CAP_WPTOOLS_INSTALL_FOLDER\0",
  "ID_CAP_ZMFSERVICES\0",
  "ID_CAP_ZTRACE\0",
  "imeSystem\0",
  "indexedContent\0",
  "inProcessMediaExtension\0",
  "inputForegroundObservation\0",
  "inputInjection\0",
  "inputInjectionBrokered\0",
  "inputObservation\0",
  "inputOverride\0",
  "inputSettings\0",
  "inputSuppression\0",
  "internetClient\0",
  "internetClientServer\0",
  "interopServices\0",
  "isolatedWin32-dotNetBreadcrumbStore\0",
  "isolatedWin32-print\0",
  "isolatedWin32-profilesRootMinimal\0",
  "isolatedWin32-userProfileMinimal\0",
  "isolatedWin32-volumeRootMinimal\0",
  "keyboardDeviceSettings\0",
  "kinectAudio\0",
  "kinectExpressions\0",
  "kinectFace\0",
  "kinectGamechat\0",
  "kinectRequired\0",
  "kinectVideo\0",
  "kinectVision\0",
  "languageAndRegionDeviceSettings\0",
  "languageSettings\0",
  "learningModeLogging\0",
  "liveIdService\0",
  "localExperienceCumulativeInternal\0",
  "localExperienceInternal\0",
  "localSystemServices\0",
  "location\0",
  "locationHistory\0",
  "locationSystem\0",
  "lockScreenCreatives\0",
  "lowLevel\0",
  "lowLevelDevices\0",
  "lpacAppExperience\0",
  "lpacChromeInstallFiles\0",
  "lpacChromeNetworkSandbox\0",
  "lpacClipboard\0",
  "lpacCom\0",
  "lpacCryptoServices\0",
  "lpacDeviceAccess\0",
  "lpacEdgeWdagComms\0",
  "lpacEnterprisePolicyChangeNotifications\0",
  "lpacIdentityServices\0",
  "lpacIME\0",
  "lpacInstrumentation\0",
  "lpacMedia\0",
  "lpacMediaFoundationCdmData\0",
  "lpacPackageManagerOperation\0",
  "lpacPayments\0",
  "lpacPnPNotifications\0",
  "lpacPrinting\0",
  "lpacServicesManagement\0",
  "lpacSessionManagement\0",
  "lpacWebPlatform\0",
  "mediaFoundationCdmFiles\0",
  "microphone\0",
  "Microsoft.componentUiInWebContentGeneral_8wekyb3d8bbwe\0",
  "Microsoft.delegatedWebFeatures_8wekyb3d8bbwe\0",
  "Microsoft.deployFullTrustOnHost_8wekyb3d8bbwe\0",
  "microsoft.eSIMManagement_8wekyb3d8bbwe\0",
  "Microsoft.firmwareRead_cw5n1h2txyewy\0",
  "Microsoft.firmwareWrite_cw5n1h2txyewy\0",
  "Microsoft.mixedRealityExperience_8wekyb3d8bbwe\0",
  "microsoft.penFreControl_8wekyb3d8bbwe\0",
  "microsoft.secondaryAuthenticationFactorForLogon_8wekyb3d8bbwe\0",
  "Microsoft.unsignedPackageManagement_8wekyb3d8bbwe\0",
  "microsoftEdgeRemoteDebugging\0",
  "mixedRealityEnvironmentInternal\0",
  "mmsTransportSystem\0",
  "modifiableApp\0",
  "multiplaneOverlay\0",
  "muma\0",
  "musicLibrary\0",
  "networkConnectionManagerProvisioning\0",
  "networkDataPlanProvisioning\0",
  "networkDataUsageManagement\0",
  "networkDeviceAdminSettings\0",
  "networkDeviceSettings\0",
  "networkDiagnostics\0",
  "networkingVpnProvider\0",
  "nfcSystem\0",
  "notificationsDeviceSettings\0",
  "objects3D\0",
  "oemDeployment\0",
  "oemPublicDirectory\0",
  "offlineMapsManagement\0",
  "oneProcessVoIP\0",
  "optical\0",
  "pacJsWorker\0",
  "packageContents\0",
  "packagedServices\0",
  "packageManagement\0",
  "packagePolicySystem\0",
  "packageQuery\0",
  "packageWriteRedirectionCompatibilityShim\0",
  "perceptionMonitoring\0",
  "perceptionSensorsExperimental\0",
  "perceptionSystem\0",
  "permissiveLearningMode\0",
  "personalizationDeviceSettings\0",
  "phoneCall\0",
  "phoneCallHistory\0",
  "phoneCallHistoryPublic\0",
  "phoneCallHistorySystem\0",
  "phoneCallSystem\0",
  "phoneLineTransportManagement\0",
  "picturesLibrary\0",
  "pointOfService\0",
  "policyManager\0",
  "powerDeviceSettings\0",
  "preemptiveCamera\0",
  "previewHfx\0",
  "previewInkWorkspace\0",
  "previewPenWorkspace\0",
  "previewStore\0",
  "previewUiComposition\0",
  "privateNetworkClientServer\0",
  "projectionDeviceSettings\0",
  "protectedApp\0",
  "proximity\0",
  "radios\0",
  "recordedCallsFolder\0",
  "regionSettings\0",
  "registryRead\0",
  "relatedPackages\0",
  "remoteAutomationHost\0",
  "remoteFileAccess\0",
  "remotePassportAuthentication\0",
  "remoteSystem\0",
  "removableStorage\0",
  "resetPhone\0",
  "runFullTrust\0",
  "screenDuplication\0",
  "searchSettings\0",
  "secondaryAuthenticationFactor\0",
  "secureAssessment\0",
  "sensors.custom\0",
  "serialCommunication\0",
  "sessionImpersonation\0",
  "settingSyncConfiguration\0",
  "sharedMachineKeysCapability\0",
  "sharedUserCertificates\0",
  "shellDisplayManagement\0",
  "shellExperience\0",
  "shellExperienceComposer\0",
  "slapiQueryLicenseValue\0",
  "smbios\0",
  "sms\0",
  "smsSend\0",
  "smsSystem\0",
  "smsTransportSystem\0",
  "spatialPerception\0",
  "startScreenManagement\0",
  "storeAppInstall\0",
  "storeAppInstallation\0",
  "storeConfiguration\0",
  "storeLicenseManagement\0",
  "storeOptionalPackageInstallManagement\0",
  "systemAllocWindowID\0",
  "systemDialog\0",
  "systemDialogEmergency\0",
  "systemManagement\0",
  "systemRegistrar\0",
  "targetedContent\0",
  "targetedContentSubscription\0",
  "teamEditionDeviceCredential\0",
  "teamEditionExperience\0",
  "teamEditionView\0",
  "telemetryData\0",
  "terminalPowerManagement\0",
  "thumbnailCache\0",
  "timezone\0",
  "uiAccess\0",
  "uiAutomationCrossMachineHostingSystem\0",
  "uiAutomationSystem\0",
  "unvirtualizedResources\0",
  "unzipFile\0",
  "updateAndSecurityDeviceSettings\0",
  "usb\0",
  "userAccountInformation\0",
  "userDataAccountSetup\0",
  "userDataAccountsProvider\0",
  "userDataSystem\0",
  "userDataTasks\0",
  "userDataTasksSystem\0",
  "userManagementSystem\0",
  "userNotificationListener\0",
  "userOnboardingState\0",
  "userPrincipalName\0",
  "userSigninSupport\0",
  "userSystemId\0",
  "userWebAccounts\0",
  "videosLibrary\0",
  "visualElementsSystem\0",
  "visualVoiceMail\0",
  "vmWorkerProcess\0",
  "voipCall\0",
  "walletSystem\0",
  "webcam\0",
  "webPlatformMediaExtension\0",
  "wiFiControl\0",
  "wifiData\0",
  "wiFiDirect\0",
  "windowInfo\0",
  "windowManagement\0",
  "windowManagementSystem\0",
  "windowsHelloCredentialAccess\0",
  "windowsPerformanceCounters\0",
  "xboxAccessoryManagement\0",
  "xboxBroadcaster\0",
  "xboxGameSpeechWindow\0",
  "xboxLiveAuthenticationProvider\0",
  "xboxSystemApplicationClipQuery\0",
  "xboxTrackingStream\0",
  "\0",
}